<h3>Add A New Student</h3>

 <form action="/students" method="post">
            <div class="col col-md-3">
                <label for="studentName">Student Name:</label>
                <input class="form-control" id="studentName" name="studentName" type="text" required><br>
                <label for="enrollmentDate">Enrollment Date:</label>
                <input class="form-control" id="enrollmentDate" name="enrollmentDate" type="text" required><br>
            </div>  
    <br>
    <button class="btn btn-primary btn-lg" type="submit">Add</button>       
</form>


    <br>
        <h3><a href='/'>Return to Main Page</a></h3>