@{
  Layout = "_Layout";
}

<div class="container">
<h2>Welcome to the University of Washington!</h2>
<a href="/courses">Click here to view all courses</a>
<br>
<a href="/students">Click here to view all students</a>
</div>
